.grid {
    display: grid;
}
.contatos {
    grid-area: contatos;
}

.form-grid {
    grid-area: formulario;
}

@media screen and (min-width: 930px){
    .grid-template-areas-footer {
        grid-template-columns: 30% 30% 40%;
        grid-template-areas: 
            "contatos contatos formulario"
        ;
    }
    main {
        padding-top: 100px;
    }
    .coluna-1 {
        grid-template-columns: 95%;
    }
    .coluna-2 {
        grid-template-columns: 2fr 2fr;
    }
    .coluna-3 {
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: 2fr;
    }
    .coluna-3-main {
        grid-template-columns: 25% 50% 25%;
    }
    .coluna-4-menu {
        grid-template-columns: 3fr 2fr 2fr 2fr;
    }
    
}
@media screen and (max-width: 930px){
    .grid-template-areas-footer {
        grid-template-areas: 
            "contatos"
            "formulario"
        ;
    }
    main {
        padding-top: 220px;
    }
    .coluna-1 {
        grid-template-columns: 1fr;
    }
    .coluna-2 {
        grid-template-columns: 1fr;
    }
    .coluna-3 {
        grid-template-columns: 1fr;    
    }
    .coluna-3-main {
        grid-template-columns: 1fr;
    }
    .coluna-4-menu {
        grid-template-columns: 1fr;
    }
    
}
